.index {
  background-image: url("./creation-site-e-commerce.jpeg");
}
.form {
  text-align: center;
  background-image: url("./write.jfif");
}
.LoginAdmin {
  background-image: url("./Login.webp");
}
.SignUp {
  background-image: url("./SignUp.jfif");
}
.error {
  color: red;
  font-size: 0.8rem;
}
.ResultLog {
  background-image: url(./bienvenu2.avif);
}
