.index {
  background-image: url("./images/creation-site-e-commerce.jpeg");
}
.form {
  text-align: center;
  background-color: beige;
}
.LoginAdmin {
  background-image: url("./images/Login.webp");
}
.SignUp {
  background-image: url("./images/SignUp.jfif");
}
.error {
  color: red;
  font-size: 0.8rem;
}
.ResultLog {
  background-image: url("./images/bienvenu2.avif");
}
.LoginResult {
  background-image: url("./images/Success.webp");
  text-align: center;
  color: white;
}
.acceuilClient {
  background-image: url("./images/AcceuilClient.jpg");
}
.acceuilAdmin {
  background-image: url("./images/AcceuilAdmin.jpg");
}
